[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bnRep"]
	path = bnRep
	url = https://github.com/manueleleonelli/bnrep
[submodule "bnmonitor"]
	path = bnmonitor
	url = https://github.com/manueleleonelli/bnmonitor
[submodule "extrememix"]
	path = extrememix
	url = https://github.com/manueleleonelli/extrememix
